apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a-deployment
  labels:
    app: service-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-a
  

  template:
    metadata:
      labels:
        app: service-a
    spec:
      containers:
      - name: service-a
        image: makeyourcloth/service-a:latest
        ports:
        - containerPort: 3001
        volumeMounts:
          - mountPath: "/usr/share/"
            name: task-pv-storage
      volumes:
        - name: task-pv-storage
          persistentVolumeClaim:
            claimName: task-pv-claim